@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;family=Playfair+Display:wght@700;800&amp;display=swap');

@import 'tailwindcss';

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-playfair: 'Merriweather', serif;
}
